In [1]:
import pandas as pd

In [2]:
books = pd.read_csv('datasets/BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')

b'Skipping line 6452: expected 6 fields, saw 7\nSkipping line 43667: expected 6 fields, saw 9\nSkipping line 51751: expected 6 fields, saw 7\nSkipping line 92038: expected 6 fields, saw 7\nSkipping line 104319: expected 6 fields, saw 7\nSkipping line 121768: expected 6 fields, saw 7\n'
b'Skipping line 144058: expected 6 fields, saw 7\nSkipping line 150789: expected 6 fields, saw 7\nSkipping line 157128: expected 6 fields, saw 7\nSkipping line 180189: expected 6 fields, saw 7\nSkipping line 185738: expected 6 fields, saw 7\nSkipping line 209388: expected 6 fields, saw 7\nSkipping line 220625: expected 6 fields, saw 7\nSkipping line 227930: expected 6 fields, saw 9\nSkipping line 228954: expected 6 fields, saw 9\nSkipping line 245930: expected 6 fields, saw 7\nSkipping line 251293: expected 6 fields, saw 7\nSkipping line 259938: expected 6 fields, saw 7\nSkipping line 261526: expected 6 fields, saw 7\n'

In [17]:
books[books.publishDate>=2002][['isbn', 'publishDate']]

              isbn  publishDate
0        195153448         2002
9       074322678X         2002
12       887841740         2004
22      1879384493         2003
26       971880107         2004
30       375759778         2003
32      3404921038         2002
38       449005615         2002
47       425182908         2002
48      042518630X         2002
59       964778319         2002
63      2070423204         2002
71      1414035004         2003
72        60938412         2003
74       345465083         2003
84       743403843         2002
87        71416331         2003
88       375509038         2003
98       316748641         2002
99       316973742         2002
107      786868716         2003
108     8472238822         2002
114      446612545         2003
115      446612618         2003
116      451208080         2003
117      553584383         2004
120      316735736         2004
121      743439740         2002
127      743249992         2003
129      425184226         2002
...            ...          ...
271269  074324768X         2003
271271  1400303214         2003
271272  1400303222         2003
271273  1400303230         2003
271274  1400303249         2003
271275  1414048688         2004
271277  1578567475         2004
271279  1584855096         2002
271280  1584855282         2002
271281  1584857129         2003
271282  1584857447         2003
271284  1893699218         2002
271285  1893699226         2002
271286  189369948X         2003
271287  1893699501         2003
271288  1893699560         2003
271299   875346235         2003
271302   753506440         2002
271303  1843096595         2002
271313   441011799         2004
271315   375415343         2002
271316  3404204433         2002
271334   971854823         2002
271336  3257217323         2003
271337  3596156904         2003
271345   231128444         2003
271346   520242335         2004
271347   762412119         2002
271349  1845170423         2004
271354  006008667X         2004

[37896 rows x 2 columns]